<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>window model</title>
  </head>
  <body>
    
    <div class="grid-conatiner container">
      <div class="window-1">
        <div class="folder folder-1"></div>
        <div class="folder folder-2"></div>
        <div class="folder folder-3"></div>
        <div class="folder folder-4"></div>
        <div class="folder folder-5"></div>
        <div class="folder folder-6"></div>
        <div class="folder folder-7"></div>
        <div class="folder folder-8"></div>
        <div class="folder folder-9"></div>
        <div class="folder folder-10"></div>
        <div class="folder folder-11"></div>
        <div class="folder folder-12"></div>
        <div class="folder folder-13"></div>
        <div class="folder folder-14"></div>
        <div class="folder folder-15"></div>
        <div class="folder folder-16"></div>
        <div class="folder folder-17"></div>
        <div class="folder folder-18"></div>
      </div>
      <div class="window-2">
        <div class="folder compartment-1"></div>
        <div class="folder compartment-2"></div>
        <div class="folder compartment-3"></div>
        <div class="folder compartment-4"></div>
        <div class="folder compartment-5"></div>
        <div class="folder compartment-6"></div>
        <div class="folder compartment-7"></div>
        <div class="folder compartment-8"></div>
        <div class="folder compartment-9"></div>
        <div class="folder compartment-10"></div>
        <div class="folder compartment-11"></div>
        <div class="folder compartment-12"></div>
        <div class="folder compartment-13"></div>
        <div class="folder compartment-14"></div>
        <div class="folder compartment-15"></div>
        <div class="folder compartment-16"></div>
      </div>
    </div>
  </body>
</html> -->

<!-- injecting the component "<app-container></app-container>"" -->
<app-navbar></app-navbar>
<app-section></app-section>
<app-article></app-article>
<app-footer></app-footer>
